<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="/" class="text-nowrap logo-img">
        <img src="{{ url_for('static', filename='assets/images/logos/mindwise.png') }}" width="200" class="mt-3" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Anomaly Detection</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/theme-anomalies" aria-expanded="false">
            <span>
              <i class="ti ti-files"></i>
            </span>
            <span class="hide-menu">Upload Files</span>
          </a>
        </li>
        <li class="sidebar-item dropdown">
          <a class="sidebar-link sidebar-icon-hover" href="javascript:void(0)" onclick="toggleDropdown()"
            aria-expanded="false">
            <span>
              <i class="ti ti-apps"></i>
            </span>
            <span class="hide-menu">Compressors</span>
            <span class="mt-1 chevron-icon">
              <i style="font-size: 10pt !important;" class="ti ti-chevron-down"></i>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up w-100" id="dropdownMenu">
            <div class="message-body">
              <a class="dropdown-item" href="/compressor-af/1">DX1 AF1</a>
              <a class="dropdown-item" href="/compressor-af/2">DX1 AF2</a>
            </div>
          </div>
        </li>

        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="/compressor-af" aria-expanded="false">
            <span>
              <i class="ti ti-apps"></i>
            </span>
            <span class="hide-menu">Compressors</span>
          </a>
        </li> -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="/chiller-maglev" aria-expanded="false">
            <span>
              <i class="ti ti-api-app"></i>
            </span>
            <span class="hide-menu">Chiller Maglev</span>
          </a>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Predictions</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/energy" aria-expanded="false">
            <span>
              <i class="ti ti-battery-charging"></i>
            </span>
            <span class="hide-menu">Efisiensi Energi</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/energy" aria-expanded="false">
            <span>
              <i class="ti ti-align-box-bottom-left"></i>
            </span>
            <span class="hide-menu">Productions</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Analisis Mesin</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/wwtp" aria-expanded="false">
            <span>
              <i class="ti ti-mood-happy"></i>
            </span>
            <span class="hide-menu">WWTP</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/condensor" aria-expanded="false">
            <span>
              <i class="ti ti-aperture"></i>
            </span>
            <span class="hide-menu">Condensor</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->