<!doctype html>
<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Flask</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='welcome/css/style.css') }}">
</head>
<body>
  <div class="welcome-container">
    <!-- {% include 'partials/navbar.html'   %} -->

    {% block content %}
      
    {% endblock %}

    <!-- {% include 'partials/footer.html'   %} -->
  </div>

  <script src="{{ url_for('static', filename='welcome/js/scripts.js') }}"></script>
</body>
</html>
