<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Data Science | PT. Amerta Indah Otsuka</title>
  <link rel="shortcut icon" type="image/png" href="static/assets/images/logos/new-favicon.png" />
  <link rel="stylesheet" href="static/assets/css/styles.min.css" />
  <link rel="stylesheet" href="static/assets/css/scrollbar.css" />
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    {% include 'partials/sidebar.html' %}

    <!--  Main wrapper -->
    <div class="body-wrapper" id="content">

      {% include 'partials/navbar.html' %}

      <div class="container-fluid">
        {% block content %}{% endblock %}

        {% include 'partials/footer.html' %}
      </div>
    </div>
  </div>

  <script src="static/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/js/sidebarmenu.js"></script>
  <script src="static/assets/js/app.min.js"></script>
  <script src="static/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="static/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="static/assets/js/dashboard.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"></script>
  <script>
    new DataTable('#data');
    new DataTable('#anomalies');
  </script>
  <script>
    // jQuery
    /* $(document).ready(function () {
      // Buka submenu dropdown saat item dropdown di-klik
      $('.sidebar-item.dropdown').on('click', function (e) {
        e.preventDefault();
        $(this).toggleClass('open');
        $(this).children('.dropdown-menu').toggleClass('show');
      });
  
      // Tutup submenu dropdown saat item lain di-klik
      $(document).on('click', function (e) {
        if (!$(e.target).closest('.sidebar-item.dropdown').length) {
          $('.sidebar-item.dropdown').removeClass('open');
          $('.dropdown-menu').removeClass('show');
        }
      });
    }); */
  </script>
</body>

</html>