{% extends 'layouts/main.html' %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Upload File Data untuk Dideteksi</h5>
          <form action="/theme-anomalies" method="POST" class="row" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group col-md-5">
              <label for="trainFile" class="mb-2 fw-bold">Upload Data Latih File :</label>
              <input type="file" class="form-control" id="trainFile" name="train_file" required
                accept=".xlsx, .csv, .xlsm">
            </div>
            <div class="form-group col-md-5">
              <label for="testFile" class="mb-2 fw-bold">Upload Data Uji File :</label>
              <input type="file" class="form-control" id="testFile" name="test_file" required
                accept=".xlsx, .csv, .xlsm">
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
              <button type="submit" class="btn btn-md btn-success w-100 mt-auto">Upload</button>
            </div>
          </form>
          <div class="alert alert-danger mt-2" role="alert">
            <span>File harus dalam format CSV, XLSX, atau XLSM</span>
            <br>Data Latih adalah data yang digunakan untuk melatih model, sedangkan Data Uji adalah data yang digunakan
            untuk menguji model. Data Latih dan Data Uji harus memiliki jumlah kolom yang sama. Untuk contoh format data latih dan data uji. <a href="/static/downloads/downloads.zip" class="text-decoration-underline">klik disini</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if data.anomalies %}
    <div class="row">
      <div class="col-lg-12 d-flex align-items-strech">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Data yang Dideteksi Anomali</h5>
            <div class="table-responsive">
              <table id="data" class="table text-nowrap mb-0 table-sm table-bordered align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    {% for item in data.columns %}
                    <th class="border-bottom-0 text-center">
                      <h6 class="fw-semibold mb-0">{{ item }}</h6>
                    </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for item in data.data %}
                  <tr>
                    {% for i in item %}
                      {% if loop.index == 1 or loop.index == ((loop.length - 1) + 1) %}
                        <td class="border-bottom-0 text-center">
                          <p class="mb-0 fw-normal">{{ i }}</p>
                        </td>
                      {% else %}
                        <td class="border-bottom-0 text-center">
                          <p class="mb-0 fw-normal">
                            {% if i != 'nan' %}
                              {{ '%0.2f'|format(i|float) }}
                            {% else %}
                              {{ i }}
                            {% endif %}
                          </p>
                        </td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex align-items-strech">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Data yang Terdeteksi Tidak Normal (Anomali)</h5>
            <div class="table-responsive">
              <table id="anomalies" class="table text-nowrap mb-0 table-sm table-bordered align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    {% for item in data.columns %}
                    <th class="border-bottom-0 text-center">
                      <h6 class="fw-semibold mb-0">{{ item }}</h6>
                    </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for item in data.data %}
                  <tr>
                    {% for i in item %}
                      {% if loop.index == 1 or loop.index == ((loop.length - 1) + 1) %}
                        <td class="border-bottom-0 text-center">
                          <p class="mb-0 fw-normal">{{ i }}</p>
                        </td>
                      {% else %}
                        <td class="border-bottom-0 text-center">
                          <p class="mb-0 fw-normal">
                            {% if i != 'nan' %}
                              {{ '%0.2f'|format(i|float) }}
                            {% else %}
                              {{ i }}
                            {% endif %}
                          </p>
                        </td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-body p-4">
            <div class="mb-4">
              <h5 class="card-title fw-semibold">Atribut yang Berpengaruh</h5>
            </div>
            <div class="">
              <table class="table table-sm">
                <tbody>
                  {% for item in data.attributes %}
                  <tr>
                    <th class="text-end">
                      {{ item.features }}</p>
                    </th>
                    <td class="text-center">
                      <!-- {{ "%.6f"|format(item.scalar) }} -->
                      {{ item.scalar }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-body p-4">
            {{ data.plots | safe }}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="alert alert-success" role="alert">
      Tidak ada anomali pada data
    </div>
  {% endif %}
</div>
{% endblock %}