{% extends 'layouts/main.html' %}

{% block content %}
<div class="content">
  <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank"><img src="{{ url_for('static', filename='welcome/img/flask-horizontal.png') }}" alt=""></a>
  <div class="title">Welcome To Flask Template</div>
  <div class="links">
    <a class="custom-btn" href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Documentation</a>
    <a class="custom-btn" href="https://github.com/hoyirul/flask-starter.git" target="_blank">GitHub</a>
    <a class="custom-btn" href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask Framework</a>
  </div>
</div>
{% endblock %}