<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('public', filename='css/main.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  {% block styles %}{% endblock %}
</head>

<body>
  <div class="loading-overlay" id="loadingOverlay">
    <div class="loading-spinner"></div>
  </div>

  <div class="container mt-5">
    <!-- {% include 'partials/navbar.html'   %} -->
    
    <div class="mt-5">
      {% block content %}{% endblock %}
    </div>
    
    <!-- {% include 'partials/footer.html'   %} -->
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  {% block scripts %}{% endblock %}

  <script>
    // script.js
    document.addEventListener('DOMContentLoaded', function() {
      var loadingOverlay = document.getElementById('loadingOverlay');
      var data = document.getElementById('data');

      // Tampilkan loading overlay saat halaman dimuat
      loadingOverlay.style.display = 'block';

      // Semua sumber daya telah dimuat, sembunyikan loading overlay dan tampilkan data
      window.addEventListener('load', function() {
          loadingOverlay.style.display = 'none';
          data.style.display = 'block';
      });
    });

    document.getElementById("form-post").addEventListener("submit", function() {
      document.getElementById("loadingOverlay").style.display = "block";
    });
  </script>

  <script>
    $(document).ready(function(){
        var url = window.location.pathname;
        var activePage = url.substring(url.lastIndexOf('/') + 1);
        $('.navbar-nav .nav-link').each(function(){
            var linkPage = this.href.substring(this.href.lastIndexOf('/') + 1);
            if (activePage == linkPage) {
                $(this).addClass('active');
            }
        });
    });
  </script>

</body>

</html>