{% extends 'layouts/main.html' %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Filter Data DX1 AF Compressors</h5>
          <form action="/compressor-af" method="POST" class="row">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="col-md-5">
              <input type="date" class="form-control" name="start" value="{{ data.date }}">
            </div>
            <div class="col-md-5">
              <input type="date" class="form-control" name="end" value="{{ data.date }}">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-md btn-success w-100">Filter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% if data.data is none %}
    <div class="alert alert-danger" role="alert">
      Sedang tidak ada produksi atau (CH20, Change Lot, Maintenance, Tidak ada counter)
    </div>
  {% else %}
    <div class="row">
      <div class="col-lg-12 d-flex align-items-strech">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Data DX1 AF Realtime Hari Ini (perjam)</h5>
            <div class="table-responsive">
              <table id="data" class="table text-nowrap mb-0 table-sm table-bordered align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    {% for item in data.columns %}
                    <th class="border-bottom-0 text-center">
                      <h6 class="fw-semibold mb-0">{{ item }}</h6>
                    </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for item in data.data %}
                  <tr>
                    {% for i in item %}
                    <td class="border-bottom-0 text-center">
                      <p class="mb-0 fw-normal">{{ i }}</p>
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 d-flex align-items-strech">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Data DX1 AF yang Terdeteksi Tidak Normal (Anomali)</h5>
            <div class="table-responsive">
              <table id="anomalies" class="table text-nowrap mb-0 table-sm table-bordered align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    {% for item in data.columns %}
                    <th class="border-bottom-0 text-center">
                      <h6 class="fw-semibold mb-0">{{ item }}</h6>
                    </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for item in data.anomalies %}
                  <tr>
                    {% for i in item %}
                    <td class="border-bottom-0 text-center">
                      <p class="mb-0 fw-normal">{{ i }}</p>
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-body p-4">
            <div class="mb-4">
              <h5 class="card-title fw-semibold">Atribut yang Berpengaruh</h5>
            </div>
            <div class="">
              <table class="table table-sm">
                <tbody>
                  {% for item in data.attributes %}
                  <tr>
                    <th class="text-end">
                      {{ item.features }}</p>
                    </th>
                    <td class="text-center">
                      <!-- {{ "%.6f"|format(item.scalar) }} -->
                      {{ item.scalar }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-body p-4">
            {{ data.plots | safe }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for result in data.causes_recommendations %}
      <div class="col-lg-6 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-body p-4">
            <h5 class="card-title fw-semibold mb-4">{{ result['Feature'] }}</h5>
            <div class="table-responsive">
              <table class="table text-wrap mb-0 table-sm">
                <thead class="text-dark fs-4">
                  <tr>
                    <th class="border-bottom-0 text-center">
                      <h6 class="fw-semibold mb-0">No</h6>
                    </th>
                    <th class="border-bottom-0 text-center">
                      <h6 class="fw-semibold mb-0">Penyebab</h6>
                    </th>
                    <th class="border-bottom-0 text-center">
                      <h6 class="fw-semibold mb-0">Perbaikan</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for index in range(0, result['Causes']|length) %}
                  <tr>
                    <td class="border-bottom-0 p-2">
                      <p class="mb-0 fw-normal">{{ index+1 }}</p>
                    </td>
                    <td class="border-bottom-0 p-2 w-50">
                      <p class="mb-0 fw-normal">{{ result['Causes'][index] }}</p>
                    </td>
                    <td class="border-bottom-0 p-2 w-50">
                      <p class="mb-0 fw-normal">{{ result['Recommendations'][index] }}</p>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}